apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: ghcr-registry-credentials
  namespace: argocd
spec:
  vaultAuthRef: vault-auth
  mount: secret
  type: kv-v2
  path: argocd-image-updater/ghcr
  refreshAfter: 1h
  destination:
    name: ghcr-registry-credentials
    create: true
    overwrite: true
    type: kubernetes.io/dockerconfigjson
    labels:
      argocd-image-updater.argoproj.io/secret-type: registry
    transformation:
      templates:
        .dockerconfigjson:
          text: "{{ .Secrets.DOCKER_CONFIG_JSON }}"
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: image-updater-git-creds
  namespace: argocd
spec:
  vaultAuthRef: vault-auth
  mount: secret
  type: kv-v2
  path: argocd-image-updater/git-ssh
  refreshAfter: 1h
  destination:
    name: image-updater-git-creds
    create: true
    overwrite: true
