apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: monitoring-vault-auth
  namespace: monitoring
spec:
  vaultConnectionRef: vault-connection
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: monitoring
    serviceAccount: kube-prometheus-stack-grafana
