apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager-vault
  namespace: argocd
spec:
  project: platform
  source:
    repoURL: https://github.com/Programmer-Network/argocd-app-of-apps.git
    targetRevision: main
    path: manifests/platform/cert-manager
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
  revisionHistoryLimit: 10
