apiVersion: v1
kind: Service
metadata:
  name: langfuse
  namespace: langfuse
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: langfuse
